.container {
    margin-left: 20px;
    width: 100%;
  margin-bottom: 0px;
  }

.container-title {
    font-weight: 300;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}

.container-cards-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 300px;
    margin-top: 30px;
    background-color: #103A57;
    color: orange;
    box-shadow: 0px 0px 10px 0px rgba(116, 125, 132, 0.39);
    border-radius: 8px;

}

.container-cards-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container-cards-card-title-span {
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 1446px){
    .container-cards-card {
        width: 250px;
    }
    .container-cards-card-title-span {
        font-size: 14px;
    }
}
@media (max-width: 1283px){
    .container-cards-card {
        width: 230px;
        gap: 0px;
    }
    .container-cards-card-title-span {
        font-size: 13px;
    }
}
@media (max-width: 1198px){
    .container-cards-card {
        width: 350px;
    }
    .container-cards {
        grid-template-columns: repeat(2, auto);
    }
    .container-cards-card-title-span {
        font-size: 16px;
    }
}
@media (max-width: 990px){
    .container-cards-card {
        width: 300px;
    }
    .container-cards-card-title-span {
        font-size: 14px;
    }
}
@media (max-width: 878px){
    .container-cards-card {
        width: 250px;
    }
    .container-cards-card-title-span {
        font-size: 14px;
    }
}
@media (max-width: 773px){
    .container-cards {
        grid-template-columns: repeat(1, auto);
        gap: 0px;
    }
    .container-cards-card {
        width: 450px;
        height: 80px;
    }
    .container-cards-card-title-span {
        font-size: 14px;
    }
}
