<div *ngIf="tipoUsuario == 'Administrador'">
  <div class="container">
    <div class="container-btn-registrar">
      <button
        id="btn-registrar"
        class="btn btn-success d-grid w-100"
        (click)="redirecionarFormCriarUsuario()"
      >
        Adicionar um novo Usuário
      </button>
    </div>

    <div class="container-form">
      <form id="form-search" class="d-flex" role="search">
        <input
          class="form-control me-2"
          name="search"
          type="search"
          placeholder="Procurar usuário pelo nome do aluno..."
          aria-label="Search"
          [(ngModel)]="pesquisa"
          (change)="search()"
        />

        <button id="form-search-btn" class="btn btn-link" (click)="search()">
          Buscar
        </button>
      </form>
    </div>
  </div>
  <div *ngIf="create">
    <app-form-criar-usuario></app-form-criar-usuario>
  </div>
</div>
