<header class="toolbar">

    <div class="toolbar-container">

        <img class="toolbar-logo" src={{logo}} alt="Ícone da empresa">

        <h1 class="toolbar-titulo">
            {{nomeEmpresa}}
        </h1>

        <div class="toolbar-usuario">

            <img src="../../../../assets/toolbar/user.svg" 
            alt="Ícone representativo do usuário"
            class="toolbar-icone-usuario">

            <h3 class="toolbar-nome-usuario">{{usuario}}</h3>
        </div>

    </div>
</header>