body
{
  background-color: red;
}


.container {
  width: 98%;
  margin-top: 40px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  background-color: red;
}

.container-title {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 30px;
}

.container-form {
  margin-bottom: 40px;
}

input {
  border-radius: 22px;
  padding-left: 20px;
  box-shadow: 0px 0px 10px 0px rgba(95, 100, 104, 0.39);
  font-size: 13px;
}

#form-search-btn {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

#form-search-btn:hover {
  text-decoration: underline;
  font-weight: 500;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  gap: 20px;
  background-color: aqua;

}

.container-cards-user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 330px;
  width: 250px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(95, 100, 104, 0.39);
  border-radius: 8px;
}

.container-cards-user-card-name {
  font-size: 16px;
  width: 100%;
  border-bottom: 1px solid #9d9898;
  text-align: center;
  padding-bottom: 10px;
}

.container-cards-user-card-info {
  width: 100%;
  border-bottom: 1px solid #9d9898;
  padding-left: 20px;
  padding-bottom: 10px;
}

.container-cards-user-card-ctn-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 20px;
}

.container-cards-user-ctn-button-editar,
.container-cards-user-ctn-button-deletar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 13px;
}

.container-cards-user-ctn-button-editar {
  background-color: #a7cd2c;
}

.container-cards-user-ctn-button-deletar {
  background-color: #f75353;
}

.container-cards-user-card-detalhamento {
  position: absolute;
  top: 6px;
  right: 14px;
  font-size: 13px;
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
}

.container-cards-user-card-detalhamento:hover {
  text-decoration: underline;
  font-weight: 500;
}


/* Responsividade */
@media (max-width: 1500px) {
  .container {
      width: 95%;
  }
}

@media (max-width: 1402px) {
  .container-cards {
      grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 1156px) {
  .container-cards-user-card {
      width: 200px;
      height: 350x;
      padding-top: 20px;
  }

  .container-cards-user-card-ctn-button {
      flex-direction: column;
      gap: 10px;
  }

  .container-cards-user-card-name {
      font-size: 14.6px;
  }

  .container-cards-user-card-info {
      font-size: 14px
  }
}

@media (max-width: 888px) {
  .container-cards {
      grid-template-columns: repeat(2, auto);
      justify-content: space-evenly;
  }
}
