<div class="container">

    <!-- Título da página -->
    <h1 class="container-title">
        Editar empresa
    </h1>

    <!-- Formulário -->
    <form class="form" [formGroup]="editarForm" #form="ngForm">


        <div class="form-floating">
            <input type="text" class="form-control" id="nome" name="nome" formControlName="nome">
            <label for="nome">Nome</label>
            <span class="mensagem-erro" *ngIf="mensagemErro('nome')">
                Nome empresa é obrigatório
            </span>
        </div>

        <div class="form-floating">
            <input type="text" 
            class="form-control" 
            id="slogan"
            name="slogan"
            formControlName="slogan">
            <label for="slogan">Slogan</label>
            <span class="mensagem-erro" *ngIf="mensagemErro('slogan')">
                Slogan é obrigatório
            </span>
        </div>

        <div class="form-floating">
            <input type="text" 
            class="form-control" 
            id="cores"
            name="cores"
            formControlName="cores">
            <label for="cores">Cores</label>
        </div>

        <div class="form-floating">
            <input type="text" 
            class="form-control" 
            id="logo"
            name="logo"
            formControlName="logo">
            <label for="logo">Logo</label>
        </div>

        <div class="form-floating">
            <textarea 
            class="form-control" 
            id="info" 
            name="info"
            formControlName="info"
            style="height: 100px"></textarea>
            <label for="info">Outras informações</label>
        </div>

        <!-- Botão submit -->
        <div class="div-btn">
            <button 
            id="btn-salvar" 
            type="submit" 
            class="btn btn-success d-grid w-100"
            [disabled]="this.form.form.invalid"
            (click)="editarEmpresa()">
                Salvar alterações
            </button>
        </div>

    </form>
</div>