<div class="container">
  <h1 class="container-title">Cadastrar atendimento</h1>
  <form class="form" [formGroup]="registerForm">
    <div class="form-floating mb-3">
      <select class="form-select" formControlName="aluno_nome">
        <option>{{ atendiData?.aluno_nome?.nome }}</option>
        <option *ngFor="let aluno of alunos" [value]="aluno.nome">
          {{ aluno.nome }}
        </option>
      </select>
      <label class="label-select" for="aluno_nome">Aluno</label>
    </div>

    <div class="form-floating mb-3">
      <select class="form-select" formControlName="pedagogo_nome">
        <option>{{ atendiData?.pedagogo_nome?.nome }}</option>
        <option *ngFor="let pedagogo of pedagogos" [value]="pedagogo.nome">
          {{ pedagogo.nome }}
        </option>
      </select>
      <label for="pedagogo_nome">Pedagogo</label>
    </div>

    <div class="form-floating">
      <textarea class="form-control" formControlName="descricao" rows="5">
      </textarea>
      <label for="floatingInputValue">Descrição</label>
    </div>

    <div class="form-floating">
      <input type="date" class="form-control" formControlName="data" />
      <label for="floatingInputValue">Data</label>
    </div>
  </form>
  <div class="div-btn">
    <button
      id="btn-salvar"
      class="btn btn-success d-grid w-100"
      (click)="criarAtendimento()"
    >
      Salvar
    </button>

    <button class="btn btn-warning d-grid w-100" (click)="Up()">Editar</button>
  </div>
</div>
