<section class="container">
  <h3 class="container-title">
    {{ titulo }}
  </h3>

  <div class="container-form">
    <form id="form-search" class="d-flex" role="search">
      <input
        class="form-control me-2"
        name="search"
        type="search"
        placeholder="Procurar..."
        aria-label="Search"
        [(ngModel)]="pesquisa"
      />

      <button id="form-search-btn" class="btn btn-link" (click)="search()">
        Buscar
      </button>
    </form>
  </div>

  <div class="container-cards">
    <div
      *ngFor="let user of listaValores"
      [style.background-color]="cs"
      class="container-cards-user-card"
      [ngClass]="{ 'container-cards-user-card-change': cores == true }"
    >
      <img
        style="width: 30px"
        src="../../../../assets/dashboard/person.svg"
        alt="Ícone representando usuário"
      />
      <h5 class="container-cards-user-card-name">
        {{ user.nome }}
      </h5>
      <p class="container-cards-user-card-info">
        {{ user.tipo }}
      </p>
      <p class="container-cards-user-card-info">
        {{ user.telefone }}
      </p>
      <p class="container-cards-user-card-info">
        {{ user.cpf }}
      </p>
      <div class="container-cards-user-card-ctn-button">
        <button
          (click)="redirecionarFormEditar(user.id)"
          class="container-cards-user-ctn-button-editar"
        >
          Editar
          <img
            src="../../../../assets/dashboard/pencil.svg"
            style="height: 13px"
          />
        </button>
      </div>
      <a
        routerLink="/private/detalhamento-aluno"
        *ngIf="user.tipo == 'Aluno'"
        class="container-cards-user-card-detalhamento"
        href="#"
      >
        Ver mais
      </a>
    </div>
  </div>
</section>
