<div class="sidenav" [ngClass]="{ 'sidenav-aberto': menuaberto }">
  <div class="sidenav-container">
    <button
      class="btn btn-link"
      (click)="alterarEstadoMenu()"
      [ngClass]="{ 'sidenav-aberto-button': menuaberto }"
    >
      <img
        class="img-toggler"
        src="../../../../assets/menu-icons/menu.svg"
        alt="Ícone de abrir e fechar o menu"
        style="height: 30px"
      />
    </button>

    <ul class="sidenav-links" *ngIf="menuaberto === true">
      <li class="sidenav-links-item">
        <a
          class="sidenav-nav-link"
          routerLinkActive="sidenav-nav-link-selecionado"
          routerLink="/private/empresa"
        >
          <img
            routerLink="/private/empresa"
            src="../../../../assets/menu-icons/empresa.svg"
            alt="Ícone menu"
            style="margin-bottom: 1px"
          />
          Empresa
        </a>
      </li>
      <li>
        <button
          (click)="LogOut()"
          type="button"
          class="btn btn-outline-light"
          id="btn-sair"
        >
          <i class="bi bi-arrow-left-circle-fill"></i>Sair
        </button>
      </li>
      <li class="sidenav-links-item">
        <a
          class="sidenav-nav-link"
          routerLinkActive="sidenav-nav-link-selecionado"
          routerLink="/private/logs"
        >
          <img
            src="../../../../assets/menu-icons/atendimentos.svg"
            alt="Ícone menu"
          />
          Logs
        </a>
      </li>
      <li class="sidenav-links-item">
        <a
          class="sidenav-nav-link"
          routerLinkActive="sidenav-nav-link-selecionado"
          routerLink="/private/dashboard"
        >
          <img
            src="../../../../assets/menu-icons/dashboard.svg"
            alt="Ícone menu"
          />
          Dashboard
        </a>
      </li>

      <li class="sidenav-links-item">
        <a
          class="sidenav-nav-link"
          routerLinkActive="sidenav-nav-link-selecionado"
          routerLink="/private/usuarios"
        >
          <img
            src="../../../../assets/menu-icons/usuarios.svg"
            alt="Ícone menu"
          />
          Usuários
        </a>
      </li>

      <li class="sidenav-links-item">
        <a
          class="sidenav-nav-link"
          routerLinkActive="sidenav-nav-link-selecionado"
          routerLink="/private/atendimentos"
        >
          <img
            src="../../../../assets/menu-icons/atendimentos.svg"
            alt="Ícone menu"
          />
          Atendimentos
        </a>
      </li>

      <li class="sidenav-links-item">
        <a
          class="sidenav-nav-link"
          routerLinkActive="sidenav-nav-link-selecionado"
          routerLink="/private/exercicios"
        >
          <img
            src="../../../../assets/menu-icons/exercicios.svg"
            alt="Ícone menu"
          />
          Exercícios
        </a>
      </li>

      <li class="sidenav-links-item">
        <a class="sidenav-nav-link">
          <img
            src="../../../../assets/menu-icons/avaliacoes.svg"
            alt="Ícone menu"
          />
          Avaliações
        </a>
      </li>
      <li class="sidenav-links-item">
        <a
          class="sidenav-nav-link"
          routerLinkActive="sidenav-nav-link-selecionado"
          routerLink="/private/detalhamento-aluno"
        >
          <img
            src="../../../../assets/menu-icons/detalhamento-aluno.svg"
            alt="Ícone menu"
            style="margin-bottom: 1px"
          />
          Detalhamento aluno
        </a>
      </li>
    </ul>
  </div>
</div>
