@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

.form-floating,
.form-check {
    margin-top: 15px;
}

.form-control, .form-select {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.label-select {
    color: rgba(var(--bs-body-color-rgb), 0.65);
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-check-input:checked {
    background-color: green;
    border-color: green;
}

.div-btn {
    display: flex;
    justify-content: flex-end;
}

.btn.btn-dark {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    background-color: #4eaa0c;
    border-color: #4eaa0c;
    margin-top: 20px;
    margin-right: 5px;
    padding-right: 25px;
    padding-left: 25px;
}